/* --------- */
/*Index page */

body {
    margin: 0;
    background: #f6f6f6;
    color: #494949;
    font-family: "Roboto", sans-serif;
}

h1, h2 {
    margin: 0;
    line-height: 2;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding: 20px 0;
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.btn {
    display: inline-block;
    background: #f6f6f6;
    border-radius: 1.5em;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    color: #464646;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 300ms;
}

.btn:hover {
    transform: scale(1.03);
    background: #494949;
    color: #f6f6f6;
}

.container-nav {
    padding: 20px 0;
    background: #aaa;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-brand, .nav-link, .fa-shopping-cart {
    color: #000000;
    transition: transform 300ms;
}

.navbar-brand:hover, .nav-link:hover, .fa-shopping-cart:hover {
    transform: scale(1.03);
    color: #000;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),url("../images/hero-background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-container {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 275px;
    color: #f6f6f6;
}

.products-list-card, .product-detail-card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #494949;
    transition: transform 300ms;
}

.products-list-card:hover {
    transform: scale(1.03);
}

.products-list-image, .product-detail-image {
    width: 100%;
}

.products-list-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
}

.products-list-content h3, .product-detail-content h3 {
    width: 100%;
}

.products-list-price, .product-detail-price {
    font-weight: 800;
    font-size: 1.2rem;
    text-align: end;
} 

.footer {
    position: relative;
    background: grey;
    margin-top: 4rem;
    padding: 20px 0;
    text-align: center;
    font-weight: 800;
    font-size: 1.1rem;
}

.footer-link {
    transition: transform 300ms;
}

.footer-link:hover {
    transform: scale(1.03);
}

/* ------------ */
/* Product page */

.product-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.product-form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
}

.product-form-buttons {
    display: flex;
    flex-direction: column;
}

.btn-cart, .btn-back {
    border: 1px solid #aaa;
    background-color: #ddd;
}